@import 'react-calendar/dist/Calendar.css';

.react-calendar {
  @apply border-0 bg-transparent;
}

.react-calendar * {
  @apply !text-white;
}

.react-calendar__month-view__weekdays {
  @apply capitalize;
}

.react-calendar abbr {
  text-decoration: none;
}

.react-calendar__tile--now {
  @apply bg-inherit;
}

.react-calendar__tile:disabled {
  @apply cursor-not-allowed bg-inherit hover:!bg-inherit;
}

.react-calendar__tile:disabled > abbr {
  @apply !text-zinc-400;
}

.react-calendar__tile {
  @apply relative z-1 rounded-lg hover:!bg-zinc-700;
}

.react-calendar__navigation button {
  @apply hover:bg-inherit;
}

.react-calendar__navigation button:disabled,
.react-calendar__navigation button:focus {
  @apply bg-inherit;
}
.react-calendar__tile--active,
.react-calendar__tile--hasActive {
  @apply hover:!bg-mauveine-700 !bg-mauveine-700;
}

.react-calendar__navigation__label,
.react-calendar__navigation__arrow {
  @apply rounded-lg font-bold hover:!bg-zinc-700;
}

.react-calendar__navigation > button:focus {
  @apply !bg-inherit;
}

.react-calendar__month-view__days__day--neighboringMonth > abbr {
  @apply !text-zinc-400;
}

.react-calendar__year-view__months__month,
.react-calendar__decade-view__years__year {
  @apply !py-4;
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
