spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/simmortal
    username: simmortal
    password: simmortal
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
  mail:
    host: smtp.example.com
    port: 587
    username: user
    password: password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

app:
  jwt:
    secret: change-me-please-change-me-please

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger
